*{box-sizing: border-box;}
body{overflow: hidden;}
.desc-container{width:500px;height:500px;padding:0px 20px;border:1px solid #666;}
    .box{display: flex;justify-content: left;border:1px solid #666;border-width: 0 0 1px 0;}
        .title{font-weight:700;width:120px;padding:5px 0;}
        .contents{width:150px;padding:5px;}
        .day{width:300px;}
        .desc-contents{width:100%;padding:5px 0;height:300px;}
    .btn-right{text-align: right;margin-top:10px;}


/* 탄력근무제 승인 팝업창용 css */
    .week-list .title{display: inline-block;width:100px;}
    .week-list .contents{display: inline-block;width:300px;text-align: center;}
    .week-list .time{display: inline-block;width:50px;text-align: right;}
        