
*{font-size: 14px;}

.nav-giude{padding:10px 20px;font-size: 12px;}
.view-container{padding:30px 20px;}
    .row{display: flex;justify-content: left;}
        
        .table-title{border:solid #666;border-width: 1px 0;display:inline-block;padding:4px;font-weight:700;width:12%;text-align: center;}
            .table-title:nth-child(1){width:130px;}
            .table-title:nth-child(2){width:170px;}
            .table-title:nth-child(3){width:130px;}
            .table-title:nth-child(4){width:100px;}
            .table-title:nth-child(5){width:250px;}
            .table-title:nth-child(6){width:100px;}
            .table-title:nth-child(7){width:100px;}
            .table-title:nth-child(8){width:200px;}
        .content-text{display:inline-block;width:12%;text-align: center;padding:4px;}
            .content-text:nth-child(1){width:130px;}
            .content-text:nth-child(2){width:170px;}
            .content-text:nth-child(3){width:130px;}
            .content-text:nth-child(4){width:100px;}
            .content-text:nth-child(5){width:250px;}
            .content-text:nth-child(6){width:100px;}
            .content-text:nth-child(7){width:100px;}
            .content-text:nth-child(8){width:200px;}


.pages {
	display: flex;
	justify-content: center;
	align-items: center;
}
.pages > div {
	margin-top: 20px;
}
.pages > div > a{
	margin: 0 10px;
	
}
.pages > div > a > b {
	font-size: 20px;
	color : gray;
	cursor: pointer;
}

.pages > div > a > b:hover {
	color : red;
}
.pages > div > a > i {
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 2px solid gray;
	color: gray;
	border-radius: 50%;
	padding: 13px;
	transition : all 0.3s;
}  
.pages > div > a > i:hover {
	border : 2px solid red;
	color : red;
	cursor: pointer;
}
        